.form-preview-container {
  padding: 16px;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.preview-header {
  margin-top: 1rem;
  text-align: center;
}

.preview-content {
  margin-top: 0.25rem;
  white-space: pre-wrap;
}

.preview-fields-container {
  margin-top: 0.5rem;
}

.preview-field-item {
  padding: 10px;
  border: 1px solid #e1e3e5;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  background: white;
}

.preview-field-item.active {
  border: 2px solid #5c6ac4;
}

.preview-field-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.required-star {
  color: red;
}

.preview-input {
  width: 100%;
  padding: 5px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.preview-textarea {
  width: 100%;
  padding: 5px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.preview-checkbox {
  transform: scale(1.2);
}

.preview-submit-wrapper {
  margin-top: 1rem;
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.preview-submit-wrapper button {
    padding: 10px 0;
}

.preview-disclaimer {
  margin-top: 0.5rem;
}
